.wide-button {
    margin: 20px;
    width: 200px;
}

.fab {
    position: absolute !important;
    left: 25px;
    bottom: 25px;
}

.right-fab {
    position: absolute !important;
    right: 25px;
    bottom: 25px;
}

.sticky-right-fab
{
    position: fixed !important;
    right: 25px;
    bottom: 25px;
}
