$primary-palette: (
    50: #e8f2f4,
    100: #c5dfe4,
    200: #9ecad2,
    300: #77b5c0,
    400: #5aa5b3,
    500: #3d95a5,
    600: #378d9d,
    700: #2f8293,
    800: #27788a,
    900: #1a6779,
    A100: #b3efff,
    A200: #80e5ff,
    A400: #4ddaff,
    A700: #33d5ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$secondary-palette: (
    50: #f4ebe8,
    100: #e4cec5,
    200: #d2ad9e,
    300: #c08c77,
    400: #b3735a,
    500: #a55a3d,
    600: #9d5237,
    700: #93482f,
    800: #8a3f27,
    900: #792e1a,
    A100: #ffc1b3,
    A200: #ff9780,
    A400: #ff6d4d,
    A700: #ff5933,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$dark-primary-palette: (
    50: #faeef4,
    100: #f3d4e3,
    200: #ecb8d1,
    300: #e49cbf,
    400: #de86b1,
    500: #d871a3,
    600: #d4699b,
    700: #ce5e91,
    800: #c85488,
    900: #bf4277,
    A100: #ffffff,
    A200: #ffdfec,
    A400: #ffacce,
    A700: #ff92bf,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$dark-secondary-palette: (
    50: #fef9f3,
    100: #fdefe1,
    200: #fce5ce,
    300: #fbdbba,
    400: #fad3ab,
    500: #f9cb9c,
    600: #f8c694,
    700: #f7be8a,
    800: #f6b880,
    900: #f5ac6e,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #fff5ec,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
