<mat-drawer-container autosize hasBackdrop="true">
    <mat-drawer #drawer class="drawer" mode="over">
        <app-table-config
            (tableConfigUpdate)="tableConfigUpdate($event)"
        ></app-table-config>
    </mat-drawer>

    <div class="content-container">
        <mat-toolbar color="primary">
            <button
                class="header-button"
                mat-icon-button
                routerLink="/create"
            >
                <mat-icon>add</mat-icon>
            </button>
            <button
                class="header-button"
                mat-icon-button
                routerLink="/plot"
            >
                <mat-icon>insights</mat-icon>
            </button>
        </mat-toolbar>

        <app-table [tableConfig]="tableConfig"></app-table>
    </div>

    <app-fab
        (click)="drawer.toggle()"
        class="sticky-fab"
        icon="reorder"
        aria-label="Search config"
    ></app-fab>
</mat-drawer-container>
